<nav><a href="new">New Message</a></nav>
<ul>
    <% messages.map(message => { %> 
        <li>
            <span><%= message.text %></span>
            <span><%= message.user %></span>
            <span><%= message.added %></span>
            <a href="<%= message.msgId%>">Open</a>
        </li>
    <% }) %>
</ul>