<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Message Board</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>Mini Message Board</h1>
        </div>
    </header>
    <main>
        <div class="container">
            <% switch(page) {
                case "index": %>
                    <%- include('index', { title: title, messages: messages, formatDate: formatDate}) %>
                    <% break;
                case 'newMessageForm': %>
                    <%- include('newMessageForm', { title: title }) %>
                    <% break;
                case 'message': %>
                    <%- include('message', { message: message, formatDate: formatDate }) %>
                    <% break;
                default: %>
                    <p>No message</p>
            <% } %>
        </div>
    </main>
</body>
</html>